

@use "./reset.scss";
@use "./fonts.scss" as fonts;





header {

    padding: 7rem;
    background-color: black;

    section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;    
    color: white;
    line-height: 3.2rem;

    }


    h4 {
        @include fonts.secondaryFont();
        font-size: 0.75rem;
        padding-block: 20px
    }

    h1 {
        @include fonts.primaryFont();
        font-size: 4rem;

        &:nth-of-type(2) {
            color: rgb(0, 0, 0);
            text-shadow: 1px 0  1px white, -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white ;
        }
    }

    nav {
        color: white;
        display: flex;
        justify-content: space-between;

        a {
            @include fonts.button();
        }
    }

}


main {

    color: white;
    background-color: black;

    .big-text {
        padding: 7rem;
        font-size: 4.25rem;
        @include fonts.primaryFont();
        line-height: normal;
    }

    .map {
        padding: 7rem 0 7rem 7rem;
        display: flex;
        flex:1;
        justify-content: space-between;

        p {
            @include fonts.secondaryFont();
            font-size: 0.6rem;
            padding-bottom: 5px;
        }

        h2 {
            @include fonts.primaryFont();
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        img {
            width: 450px;
            height: 540px;
        }
    }


    .gallery {
        width: 100%;
        background-color: rgb(244, 244, 244);
        position: relative;
        height: 1865px;

        img{

            position: absolute;


            &:nth-of-type(1) {
                width: 330px;
                right: 7rem;
                top: -6.25rem;
            }
            &:nth-of-type(2) {
                width: 274px;
                left: 3.375rem;
                top: 17.5rem;
            }
            &:nth-of-type(3) {
                width: 274px;
                right: 0;
                top: 41.5625rem;
            }
            &:nth-of-type(4) {
                width: 330px;
                left: 13.75rem;
                top: 55.25rem;
            }
            &:nth-of-type(5) {
                width: 330px;
                right: 10.25rem;
                top: 66.25rem;
            }
            &:nth-of-type(6) {
                width: 274px;
                left: 0;
                top: 85rem;
            }
            &:nth-of-type(7) {
                width: 438px;
                right: 274px;
                top: 1640px;
                bottom: -68px;
            }
        }

        article {

            position: absolute;
            padding-left: 50px;

            &:nth-of-type(1) {
                top: 410px;
                left: 438px;
            }
            &:nth-of-type(2) {
                top: 1388px;
                left: 438px;
            }

            h2 {
                @include fonts.primaryFont();
                color: black;
                font-size: 72px;
                letter-spacing: -1.2px
            }
    
            p {
                @include fonts.secondaryFont();
                color: black;
                font-size: 1rem;
                max-width: 430px;
                letter-spacing: -0.4ox;
                line-height: 29px;
            }
        }
    }

    .numbers1 {
        padding-top: 12rem;
        padding-inline: 7rem;


        section {
            background-color: black;
            display: flex;
            flex: 1;
            justify-content: space-between;
            padding-top: 100px;


            .number {

                margin-left: 7rem;

                h2 {
                    @include fonts.primaryFont();
                    font-size: 72px;
                    letter-spacing: -1.2px;
                    width: 10rem;
                    
                }
    
                p {
                    @include fonts.secondaryFont();
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    padding-bottom: 20px;
                    font-weight: 200;
                    
                }
            }

            .number-text {

padding-right: 7rem;

                p {
                    @include fonts.secondaryFont();
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    padding-bottom: 20px;
                    max-width: 450px;
                    
                    &:nth-of-type(1) {
                        padding-top: 50px;
                    }

                    &:nth-of-type(2) {
                        font-size: 16px;
                        font-weight: 200;
                    }
                    
                }

            }

        }

        .image-container {
            position: relative;
            height: 750px;

            img {

                position: absolute;

                &:nth-of-type(1) {
                    width: 731px;
                    height: 731px;
                    bottom: -167px;
                }
                &:nth-of-type(2) {
                    width: 366px;
                    right: 170px;
                    bottom: -76px;
                }


            }
        }
    }


    .rotater {

        background-color: white;
        overflow: hidden;
        height: 400px;



        div {
            position: relative;
        }

        img {
            width: 412px;
            position: absolute;
            right: -138px;
            top: -92px;
            animation: rotate 10s linear infinite;
        }


    }

    .numbers2 {
        padding-top: 12rem;
        padding-inline: 7rem;
        background-color: rgb(244, 244, 244);


        section {
            display: flex;
            flex: 1;
            justify-content: space-between;
            padding-top: 100px;
            color: black;


            .number {

                margin-left: 7rem;

                h2 {
                    @include fonts.primaryFont();
                    font-size: 72px;
                    letter-spacing: -1.2px;
                    width: 10rem
                    
                }
    
                p {
                    @include fonts.secondaryFont();
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    padding-bottom: 20px;
                    font-weight: 200;

                }
            }

            .number-text {
                padding-right: 7rem;
                p {
                    @include fonts.secondaryFont();
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    padding-bottom: 20px;
                    max-width: 450px;
                    &:nth-of-type(1) {
                        padding-top: 50px;
                    }

                    &:nth-of-type(2) {
                        font-size: 16px;
                        font-weight: 200;
                    }
                    
                }

            }


        }
        .image-container {
            position: relative;
            height: 970px;

            img {

                position: absolute;

                &:nth-of-type(1) {
                    width: 731px;
                    height: 731px;
                    bottom: 24px;
                    right: 109px;
                }
                &:nth-of-type(2) {
                    width: 366px;
                    left: 170px;
                    bottom: 101px;
                }


            }
        }
    }


}


footer {
    padding: 7rem;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;


    .footer-text {
        p {
            @include fonts.secondaryFont();
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.3px;
            padding-bottom: 20px;
            max-width: 590px;
            
            &:nth-of-type(1) {
                font-size: 16px;
                font-weight: 200;
            }
            
            &:nth-of-type(2) {
                padding-top: 50px;
            }
    
            
        }

        a {
            @include fonts.button();
            margin-top: 20px;
        }
    }


    .social {

        margin-top: 85px;
        .footer-image-container {
            display: flex;
            gap: 4px;
            margin-bottom: 20px;


            img {
                width: 1rem;
            }
        }

        div {



            &:nth-of-type(2) {

                display: flex;
                justify-content: space-between;

                p {
                    &:nth-of-type(2){
                        margin-top: 20px;
                    }

                }

                img {
                    width: 50px;
                    display: inline-block;
                }
            }
        }





    }
    > div {
        background-color: white;
        font-size: 90px;
        @include fonts.primaryFont();
        color: black;
        position: absolute;
        transform: rotate(45deg);
        width: 2500px;
        left: 50px;
        top: 310px;
        bottom: 260px;
    }
    h3 {
        transition: transform 1s linear;
        animation: textflow 12s linear infinite;

        span {
            color: white;
            text-shadow: 1px 0  1px black, -1px 0 1px black, 0 -1px 1px black, 0 1px 1px black ;
        }
    }
}





@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }
}


@keyframes textflow {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translatex(-1000px);

    }
    100% {
        transform: translatex(0);

    }




}