
@use "./reset.scss";
@use "./fonts.scss" as fonts;

@media only screen and (max-width: 820px) {



    main {



        .big-text-container {
            background: url(../img/map.svg) center / contain no-repeat;
            padding: 30px;
            background-color: black;
            padding: 20px;
        }


        .big-text {
            
            

            h2 {
                font-size: 3rem;
            }
        }

        .map {
            text-align: center;
            padding: 2rem 0 7rem 0rem;
            display: grid;
            grid-template-columns: repeat(1, 1fr);


            article {



                h2 {
                    font-size: 3rem;
                }

                img {
                    display: none;
                }
            }
        }

        .gallery {


            img {
                
                display: none;

                &:nth-of-type(1) {
                    width: 330px;
                    right: 5rem;
                    top: -4rem;
                    display: block;
                }

                &:nth-of-type(5) {
                    width: 330px;
                    right: 250px;
                    top: 40rem;
                    display: block;

                }
                
                &:nth-of-type(7) {
                    width: 438px;
                    left: 5rem;
                    top: 1210px;
                    display: block;
                }
            }

            article {

                &:nth-of-type(1) {
                    padding-top: 250px;
                    padding-bottom: 200px;
                }
                &:nth-of-type(2) {
                    padding-top: 200px;
                    padding-bottom: 300px;
                }
            }
        }

        .numbers1 {

            
            section {
                padding: 10rem 1rem 30rem 1rem;
                .number {
                    padding-top: 8rem;
                    margin-left: 5rem;
        
                    h2 {
                        font-size: 48px;
                    }
        
                    p {
                        font-size: 16px;
                        padding-bottom: 10px;
                    }
                }

                .number-text {
                    padding-top: 8rem;
                    p {
                        font-size: 16px;
                        max-width: 300px;

                        &:nth-of-type(1) {
                            padding-top: 30px;
                        }
                    }
                }
            }
            .image-container {

                height: 250px;
                img {
    
    
                    &:nth-of-type(2) {
                        width: 500px;
                        height: auto;
                        left: 6rem;
                        top: -400px;
                    }
                    &:nth-of-type(1) {
                        width: 366px;
    
                    }
                    &:nth-of-type(3) {
                        width: 230px;
                        top: -250px;
                        right: 7rem;
                    }


                }
            }
        }


        .numbers2 {
            padding-top: 0;
            padding-inline: 1rem;

            section {
                .number {
                    padding-top: 3rem;
                    margin-left: 5rem;
        
                    h2 {
                        font-size: 48px;
                    }
        
                    p {
                        font-size: 16px;
                        padding-bottom: 10px;
                    }
                }
                .number-text {
                    padding-top: 3rem;
                    p {
                        font-size: 16px;
                        max-width: 300px;
    
                        &:nth-of-type(1) {
                            padding-top: 30px;
                        }
                    }
                }
            }
            .image-container {
                position: relative;
                height: 650px;
    
                img {
    
                    position: absolute;
    
                    &:nth-of-type(1) {
                        width: 500px;
                        height: 500px;
                        top: 100px;
                        left: 10vw;
                    }
                    &:nth-of-type(2) {
                        width: 230px;
                        left: 50vw;
                        top: 250px;
                    }
    
    
                }
            }

        }
    }

    footer {
        >div {
            font-size: 40px;
            transform: none;
            bottom: 0;
            left: 0;
            top: 650px;
            width: 120%;
            text-align: center;
        }
    }

}
