* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: worksans;
  src: url(../font/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: worksansitalic;
  src: url(../font/WorkSans-Italic-VariableFont_wght.ttf);
}
header {
  padding: 5%;
  background-color: black;
  color: white;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 25vh;
  color: white;
  line-height: 3.2rem;
}
header h4 {
  font-family: worksans;
  font-weight: 400;
  font-size: 0.75rem;
  padding-block: 20px;
}
header h1 {
  font-family: inter;
  font-weight: 700;
  font-size: 4rem;
}
header h1:nth-of-type(2) {
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 1px white, -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header nav a {
  font-family: worksans;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 32px;
  display: inline-block;
  border: 1px solid white;
  transition: all 500ms ease;
}
header nav a:hover {
  background-color: white;
  color: black;
}

main {
  color: white;
}
main .big-text-container {
  background-color: black;
}
main .big-text {
  padding: 5%;
  font-size: 3rem;
  font-family: inter;
  font-weight: 700;
  line-height: normal;
  min-width: 400px;
  max-width: 80vw;
}
main .map {
  padding: 5% 0 5rem 5%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
main .map p {
  font-family: worksans;
  font-weight: 400;
  font-size: 0.6rem;
  padding-bottom: 5px;
}
main .map h2 {
  font-family: inter;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}
main .map img {
  width: 450px;
  height: auto;
}
main .gallery {
  background-color: rgb(244, 244, 244);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .gallery img {
  position: absolute;
}
main .gallery img:nth-of-type(1) {
  width: 330px;
  right: 5%;
  top: -4rem;
}
main .gallery img:nth-of-type(2) {
  width: 274px;
  left: 5%;
  top: 17.5rem;
}
main .gallery img:nth-of-type(3) {
  width: 274px;
  right: 0;
  top: 41.5625rem;
}
main .gallery img:nth-of-type(4) {
  width: 330px;
  left: 13%;
  top: 55.25rem;
}
main .gallery img:nth-of-type(5) {
  width: 330px;
  right: 11%;
  top: 66.25rem;
}
main .gallery img:nth-of-type(6) {
  width: 274px;
  left: 0;
  top: 85rem;
}
main .gallery img:nth-of-type(7) {
  width: 438px;
  right: 20%;
  top: 1640px;
  bottom: -68px;
}
main .gallery article:nth-of-type(1) {
  padding-block: 45vh;
}
main .gallery article:nth-of-type(2) {
  padding-top: 28vh;
  padding-bottom: 300px;
}
main .gallery article h2 {
  font-family: inter;
  font-weight: 700;
  color: black;
  font-size: 72px;
  letter-spacing: -1.2px;
}
main .gallery article p {
  font-family: worksans;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  max-width: 430px;
  min-width: 200px;
  letter-spacing: -0.4ox;
  line-height: 29px;
}
main .numbers1 {
  overflow: hidden;
}
main .numbers1 section {
  background-color: black;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 100px;
  background-color: black;
  padding: 20% 5% 50rem 5%;
}
main .numbers1 section .number {
  margin-left: 5%;
}
main .numbers1 section .number h2 {
  font-family: inter;
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: -1.2px;
  width: 10rem;
}
main .numbers1 section .number p {
  font-family: worksans;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  font-weight: 200;
}
main .numbers1 section .number-text {
  flex-shrink: 1;
  padding-right: 5%;
}
main .numbers1 section .number-text p {
  font-family: worksans;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  max-width: 450px;
}
main .numbers1 section .number-text p:nth-of-type(1) {
  padding-top: 50px;
}
main .numbers1 section .number-text p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 200;
}
main .numbers1 .image-container {
  position: relative;
  height: 400px;
}
main .numbers1 .image-container img {
  position: absolute;
}
main .numbers1 .image-container img:nth-of-type(1) {
  width: 500px;
  right: -10%;
  top: -150px;
  animation: rotate 10s linear infinite;
}
main .numbers1 .image-container img:nth-of-type(2) {
  width: 731px;
  top: -550px;
  left: 15%;
}
main .numbers1 .image-container img:nth-of-type(3) {
  width: 400px;
  right: 15%;
  top: -450px;
}
main .numbers2 {
  padding-top: 12vh;
  padding-inline: 5%;
  background-color: rgb(244, 244, 244);
}
main .numbers2 section {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 100px;
  color: black;
}
main .numbers2 section .number {
  margin-left: 5%;
}
main .numbers2 section .number h2 {
  font-family: inter;
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: -0.075rem;
  width: 10rem;
}
main .numbers2 section .number p {
  font-family: worksans;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.0187rem;
  padding-bottom: 20px;
  font-weight: 200;
}
main .numbers2 section .number-text {
  flex-shrink: 1;
  padding-right: 5%;
}
main .numbers2 section .number-text p {
  font-family: worksans;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.0187rem;
  padding-bottom: 20px;
  max-width: 450px;
}
main .numbers2 section .number-text p:nth-of-type(1) {
  padding-top: 50px;
}
main .numbers2 section .number-text p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 200;
}
main .numbers2 .image-container {
  position: relative;
  height: 950px;
}
main .numbers2 .image-container img {
  position: absolute;
}
main .numbers2 .image-container img:nth-of-type(1) {
  width: 731px;
  bottom: 24px;
  right: 10%;
}
main .numbers2 .image-container img:nth-of-type(2) {
  width: 366px;
  left: 10%;
  bottom: 101px;
}

footer {
  padding-inline: 5%;
  padding-block: 7rem;
  background-color: black;
  color: white;
  overflow: hidden;
  position: relative;
}
footer .footer-text p {
  font-family: worksans;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  padding-bottom: 1.25rem;
  max-width: 590px;
}
footer .footer-text p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: 200;
}
footer .footer-text p:nth-of-type(2) {
  padding-top: 50px;
}
footer .footer-text a {
  font-family: worksans;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 32px;
  display: inline-block;
  border: 1px solid white;
  transition: all 500ms ease;
  margin-top: 20px;
}
footer .footer-text a:hover {
  background-color: white;
  color: black;
}
footer .social {
  margin-top: 85px;
}
footer .social .footer-image-container {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}
footer .social .footer-image-container img {
  width: 1rem;
}
footer .social div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
footer .social div:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 20px;
}
footer .social div:nth-of-type(2) img {
  width: 50px;
  display: inline-block;
}
footer > div {
  background-color: white;
  font-size: 4.5rem;
  font-family: inter;
  font-weight: 700;
  color: black;
  position: absolute;
  transform: rotate(45deg);
  width: max-content;
  left: 200px;
  bottom: 600px;
}
footer h3 {
  transition: transform 1s linear;
  animation: textflow 12s linear infinite;
}
footer h3 span {
  color: white;
  text-shadow: 1px 0 1px black, -1px 0 1px black, 0 -1px 1px black, 0 1px 1px black;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}
@keyframes textflow {
  0%, 100% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(-300px);
  }
  50% {
    transform: translatex(0px);
  }
  75% {
    transform: translatex(300px);
  }
}

/*# sourceMappingURL=style.css.map */
